version: '3.8'

services:
  jenkins-server:
    image: jenkins/jenkins:lts
    container_name: jenkins-server
    restart: always
    ports:
      - '8185:8080'
      - '22000:22'
      - '50000:50000'
    privileged: true
    user: root
    volumes:
      - 'jenkins_home:/var/jenkins_home' 
      - '/var/run/docker.sock:/var/run/docker.sock'
      - '/sys/fs/cgroup:/sys/fs/cgroup:ro'
    deploy:
      resources:
        limits:
          cpus: '4.0' 
          memory: 4096M
    networks:
      - ci-cd-net
    command: >
      sh -c "
      apt-get update &&
      apt-get install -y docker.io &&
      chmod 777 /var/run/docker.sock &&
      /usr/local/bin/jenkins.sh"
      
  
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus-server
    restart: always
    ports:
      - "9090:9090" 
    volumes:
      - ./prometheus-data:/prometheus 
      - ./prometheus.yml:/etc/prometheus/prometheus.yml 
    networks:
      - ci-cd-net


volumes:
  jenkins_home:
    driver: local
  
  prometheus-data:
    driver: local
    

networks:
  ci-cd-net:
    driver: bridge