global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'jenkins'
    # Targets the Jenkins container using its service name on the shared network
    static_configs:
      - targets: ['jenkins-server:8080']